@font-face {
  font-family: 'dinReg';
  src: url("../webfonts/DIN NEXT ARABIC REGULAR.woff") format("woff");
}

@font-face {
  font-family: 'dinMed';
  src: url("../webfonts/medium.woff") format("woff");
}

@font-face {
  font-family: 'dinBold';
  src: url("../webfonts/DIN NEXT ARABIC BOLD.woff") format("woff");
}
button{
  border: 0 none;
}
html {
  height: 100%;
}

body {
  direction: rtl;
  text-align: right;
  height: 100%;
  min-height: 100%;
  font-family: 'dinReg', sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn_repeat {
  width: 100%;
  display: block;
  background: #fff5cc;
  border: 1px solid var(--mainColor);
  color: var(--darkerColor);
  text-align: right;
  padding: .7rem 1rem;
}

.remove_reapter {
  position: absolute;
  left: .5rem;
  top: 1.5rem;
  background: transparent;
  color: #019f51;
  border: 0 none;
}

.repeater_wrapper [class*=col-]:first-of-type .remove_reapter {
  display: none;
}

.checkbox_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox_block input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.checkbox_block .radio_circle {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.1875rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ddd;
  position: relative;
  text-align: center;
}

.checkbox_block .radio_circle:before {
  content: '';
  background: var(--mainColor);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.checkbox_block input:checked ~ .radio_circle {
  border-color: var(--mainColor);
}

.checkbox_block input:checked ~ .radio_circle:before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox_block.active {
  border-color: var(--mainColor);
}

.page_wrapper {
  background-position: left top;
  background-size: 45% 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .page_wrapper {
    background-size: 0% 0%;
  }
}

.parent_block {
  border: 1px solid #ddd;
}

.parent_block .nav-tabs {
  border: 0 none;
  padding: 0;
}

.parent_block .nav-tabs li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.parent_block .nav-tabs .nav-link {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.25rem;
  font-family: 'dinMed';
  background-color: #f3f3f3;
  color: #333;
}

.parent_block .nav-tabs .nav-link.active {
  border-top: 2px solid var(--mainColor);
  background: transparent;
}

.custom_link {
  position: relative;
  display: inline-block;
}

.custom_link:before {
  content: '';
  position: absolute;
  width: 0%;
  background-color: var(--mainColor);
  height: 2px;
  bottom: -.5rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.custom_link:hover {
  text-decoration: none;
  color: var(--mainColor);
}

.custom_link:hover:before {
  width: 100%;
}

.blocked_el {
  background: #fff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 1.25rem;
}

.blocked_el img {
  width: 4.5rem;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.countdown > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: 1rem;
}

.countdown span {
  text-align: center;
}

.countdown > div span:last-of-type {
  border: 1px solid var(--mainColor);
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  line-height: 2.8rem;
  border-radius: 50%;
  color: var(--mainColor);
  margin-bottom: .25rem;
  text-align: center;
}

.times_table [class*=col-] {
  border-bottom: 1px solid #ddd;
}

.blocked_el .verfied_img {
  width: 200px;
}

.fixed_whats {
  position: fixed;
  width: 3rem;
  height: 3rem;
  line-height: 2.7rem;
  font-size: 2rem;
  background: #1da72f;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-box-shadow: 0 0 1rem rgba(29, 167, 47, 0.8);
          box-shadow: 0 0 1rem rgba(29, 167, 47, 0.8);
}

.fixed_whats:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.underline_link {
  font-size: 1.25rem;
  color: inherit;
  padding-bottom: .25rem;
  border-bottom: 2px solid var(--mainColor);
}

.underline_link:hover {
  text-decoration: none;
  color: inherit;
}

.small_font {
  font-size: .875rem;
}

.medium_font {
  font-family: 'dinMed';
}

.bold_font {
  font-family: 'dinBold';
}

.primary {
  color: var(--mainColor);
}

.bg_grey {
  background-color: #F6F6F6;
}

.grey {
  color: #777;
}

.color-inherit {
  color: inherit;
}

.input_group {
  position: relative;
}

.input_group i {
  position: absolute;
  left: .75rem;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: var(--mainColor);
}

.form_control {
  display: block;
  width: 100%;
  background-color: #F3F3F3;
  border: 1px solid #DDDDDD;
  padding: .75rem;
  border-radius: .25rem;
  min-height: 3rem;
}

.form_control:focus {
  border-color: var(--mainColor);
  outline: none;
}

.form_control::-webkit-input-placeholder {
  color: #8A8787;
  font-size: .875rem;
}

.form_control:-ms-input-placeholder {
  color: #8A8787;
  font-size: .875rem;
}

.form_control::-ms-input-placeholder {
  color: #8A8787;
  font-size: .875rem;
}

.form_control::placeholder {
  color: #8A8787;
  font-size: .875rem;
}

.custom_checkbox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  color: #777;
  border-radius: .25rem;
}

.custom_checkbox::-moz-selection {
  background: transparent;
}

.custom_checkbox::selection {
  background: transparent;
}

.custom_checkbox input {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.custom_checkbox span {
  min-width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ddd;
  display: inline-block;
  text-align: center;
  position: relative;
}

.custom_checkbox span:before {
  content: '\f00c';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  color: var(--mainColor);
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.custom_checkbox input:checked ~ span {
  border-color: var(--mainColor);
}

.custom_checkbox input:checked ~ span:before {
  opacity: 1;
}

.custom_checkbox.radio span {
  border-radius: 50%;
}

.main_btn {
  background: var(--mainColor);
  background-position: 0 0;
  padding: 0 .75rem;
  color: inherit;
  border-radius: .25rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: inline-block;
  font-size: 1.25rem;
  font-family: 'dinMed';
  border-radius: 2rem;
  text-align: center;
  height: 3rem;
  line-height: 2.75rem;
  color:var(--btnTextColor)
}

.main_btn:hover {
  background: var(--darkerColor);
  color: #fff;
  text-decoration: none;
}

.main_btn.secondary {
  background: #fff5cc;
  color: var(--darkerColor);
}

.main_btn.secondary:hover {
  background-color: #fff0b3;
}
.main_btn.danger{
  background-color: #dc3545;
}
.main_btn.danger:hover{
  background-color: #bd2b39;
}
.transparent_btn {
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  padding: 0 .75rem;
  border-radius: 2rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: inline-block;
  height: 3rem;
  line-height: 2.75rem;
  background-color: transparent;
}

.transparent_btn:hover {
  background-color: var(--mainColor);
  color: #fff;
  text-decoration: none;
}

.small_btn {
  padding: .25rem .5rem;
  font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select2-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.select2-container .select2-selection--single {
  border: 2px solid #E6E6E6;
  border-radius: .25rem 0 0 .25rem;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: .25rem;
}

.select2-search--dropdown .select2-search__field {
  text-align: right;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 .75rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--mainColor);
}

.btn_lg {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .scrollTo {
    height: 2rem;
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .blocked_el img {
    width: 3.5rem;
  }
  .h2 {
    font-size: 1.5rem;
  }
  .h4 {
    font-size: 1.25rem;
  }
  .h5 {
    font-size: 1rem;
  }
  /* main.css | http://127.0.0.1:5500/src/css/main.css */
  .parent_block .nav-tabs .nav-link {
    padding: .75rem 0;
    font-size: 1rem;
  }
}
.loader {
  color: var(--mainColor);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  
  
  @-webkit-keyframes load6 {
  0% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  
  
  
  5%, 95% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  
  
  
  10%, 59% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  
  
  
  20% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  
  
  
  38% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  
  
  
  100% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  }
  
  
  
  @keyframes load6 {
  0% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  
  
  
  5%, 95% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  
  
  
  10%, 59% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  
  
  
  20% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  
  
  
  38% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  
  
  
  100% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  }
  
  
  
  @-webkit-keyframes round {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  
  
  
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
  }
  
  
  
  @keyframes round {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  
  
  
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
  }
  
  
  
  .ajax_loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(255,255,255,.8)
  }
  .table th, .table td{
    white-space: nowrap;
  }
  .page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
  .page-item:last-child .page-link {
    margin-left: 0;
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  .page-item .page-link{
    color:  var(--darkerColor);
  }
  .page-item.active .page-link{
    background: var(--mainColor);
    border-color: var(--mainColor);
  }
  .table td, .table th{
    white-space: nowrap;
  }
  .jq-ry-container{
    width: inherit !important;
  }

/*# sourceMappingURL=main.css.map */